.active{
}

.list-group-item:hover{
    cursor: pointer !important;
}

.ixc-left-nav-title{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background-color: #80bdff;
}

.ixc-empty{
    height: 1em;
}

.ixc-left li.active a{
    color: #ffffff !important;
}

.ixc-left-menu a{
    color: #818287;
}

.ixc-menu-content{
    padding: 1em;
}

#ixc-system-info-view{
    font-size: 1.2em;
    width: 70%;
    max-width: 800px;
    min-width: 400px;
    margin: 4em auto;
}
#ixc-system-info-view td:first-child{
    border-right: 1px silver !important;
}

#ixc-error{
    text-align: center;
    color: red;
}