<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="${self.staticfile_prefix}/bootstrap/css/bootstrap.css"/>
    <script type="text/javascript" src="${self.staticfile_prefix}/js/jquery.min.js"></script>
    <script type="text/javascript" src="${self.staticfile_prefix}/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="${self.staticfile_prefix}/js/vue.js"></script>
    <title>
            <%block name="title" />
    </title>
    <%block name="header" />
</head>
<body>
    <%block name="content"/>
<%block name="footer" />
</body>
</html>