<div id="ixc-dns-server-view" class="ixc-menu-content" style="display: none;">
    <form style="width: 50%;margin: auto;min-width: 400px;" class="ixc-conf-form"
          enctype="application/x-www-form-urlencoded" method="post" action="${self.url_prefix}/dns">
        <h4>DNS设置</h4>
        <div class="ixc-empty"></div>
        <div class="form-group row">
            <div class="col-sm-2">IPv4自动获取</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <%
                        s="""<input class="form-check-input" name="ipv4.enable_auto" value="1" type="checkbox" {} />"""
                        if self.V["ipv4"]["enable_auto"]:x=s.format("checked")
                        else:x=s.format("")
                        self.show(x)
                    %>
                    <label class="form-check-label" for="gridCheck1">
                        开启
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="主DNS" class="col-sm-2 col-form-label">主DNSv4</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="ipv4.main_dns" value="${self.V['ipv4']['main_dns']}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="主DNS" class="col-sm-2 col-form-label">备DNSv4</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="ipv4.second_dns" value="${self.V['ipv4']['second_dns']}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">IPv6自动获取</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <%
                    s="""<input class="form-check-input" name="ipv6.enable_auto" value="1" type="checkbox" {}/>"""
                    if self.V["ipv6"]["enable_auto"]:x=s.format("checked")
                    else:x=s.format("")
                    self.show(x)
                    %>
                    <label class="form-check-label" for="gridCheck1">
                        开启
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="主DNS" class="col-sm-2 col-form-label">主DNSv6</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="ipv6.main_dns" value="${self.V['ipv6']['main_dns']}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="主DNS" class="col-sm-2 col-form-label">备DNSv6</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="ipv6.second_dns" value="${self.V['ipv6']['second_dns']}"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary float-lg-right">确定</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
