${self.inherit("base.html")}
<%block name="header">
<link rel="stylesheet" href="${self.staticfile_prefix}/css/homepage.css"/>
</%block>

<%block name="title">${self.LA('homepage')}</%block>

<%block name="content">
<div class="container-fluid" style="min-width: 1280px;padding: 0;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">IXCSYS</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        </div>
        <form class="form-inline">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button">重启系统</button>
            &nbsp;&nbsp;&nbsp;
            <a class="btn btn-outline-success my-2 my-sm-0" href="${self.url_prefix}/signout">注销</a>
        </form>
    </nav>
    <div class="row ixc-left" style="width: 90%;margin: auto;">
        <div class="col-2">
            <ul class="list-group">
                <li class="list-group-item ixc-left-nav-title">
                    <div class="ixc-left-nav-title">我的应用</div>
                </li>
                <li class="list-group-item ixc-left-menu" id="ixc-file-manager">
                    <a href="${self.url_prefix}/?show=ixc-file-manager&page=file-manager">文件管理器</a>
                </li>
            </ul>
            <div class="ixc-empty"></div>
            <ul class="list-group">
                <li class="list-group-item ixc-left-nav-title">
                    <div class="ixc-left-nav-title">网络设置</div>
                </li>
                <li class="list-group-item ixc-left-menu" id="ixc-wan-internet">
                    <a href="${self.url_prefix}/?show=ixc-wan-internet.ixc-${self.V['cur_internet_type']}-dial&page=wan&type=${self.V['cur_internet_type']}">WAN
                        上网设置</a>
                </li>
                <li class="list-group-item ixc-left-menu" id="ixc-dhcp-server">
                    <a href="${self.url_prefix}/?show=ixc-dhcp-server&page=dhcp-server">LAN DHCP设置</a>
                </li>
                <li class="list-group-item ixc-left-menu" id="ixc-dns-server">
                    <a href="${self.url_prefix}/?show=ixc-dns-server&page=dns-server">LAN DNS设置</a>
                </li>
                <li class="list-group-item ixc-left-menu" id="ixc-ipv6">
                    <a href="${self.url_prefix}/?show=ixc-ipv6&page=ipv6">IPv6设置</a>
                </li>
            </ul>
            <div class="ixc-empty"></div>
            <ul class="list-group">
                <li class="list-group-item ixc-left-nav-title">
                    <div class="ixc-left-nav-title">服务设置</div>
                </li>
                <li class="list-group-item ixc-left-menu" id="ixc-tftp-server">
                    <a href="${self.url_prefix}/?show=ixc-tftp-server&page=tftp">LAN TFTP服务器</a>
                </li>
            </ul>
            <div class="ixc-empty"></div>
            <ul class="list-group">
                <li class="list-group-item ixc-left-nav-title">
                    <div class="ixc-left-nav-title">系统管理</div>
                </li>
                <li class="list-group-item ixc-left-menu" id="ixc-user-info">
                    <a href="${self.url_prefix}/?show=ixc-user-info&page=user-info">用户信息</a>
                </li>
                <li class="list-group-item ixc-left-menu" id="ixc-system-network">
                    <a href="${self.url_prefix}/?show=ixc-system-network.ixc-system-network-wan&page=system-network&type=wan">系统网络</a>
                </li>
                <li class="list-group-item ixc-left-menu" id="ixc-system-info">
                    <a href="${self.url_prefix}/?show=ixc-system-info&page=system-info">系统信息</a>
                </li>
            </ul>
        </div>
        <div class="col-10" style="padding: 0;">
            <div>
                <p id="ixc-error"></p>
            </div>
            <div class="ixc-page-content">${self.widget(self.V['page'])}</div>
        </div>
    </div>
</div>
<div class="ixc-empty"></div>
<script type="text/javascript">
    $(document).ready(function (e) {
        /** 显示菜单内容 **/
        function load_page() {
            /// 加载页面,实现加载选定的内容并激活对应的菜单颜色
            let url_params = new URLSearchParams(window.location.search);
            let show = url_params.get("show");
            if (null === show || show === "") return;

            let array = show.split(".");
            // 左边菜单ID+"-view"表示渲染的名称
            for (let i = 0; i < array.length; i++) {
                $("#" + array[i]).addClass("active");
                if (array.length - 1 === i) $("#" + array[i] + "-view").css("display", "block");
            }
        }

        /** 根据左边不同的菜单显示不同的内容 **/
        $(".ixc-left-menu").click(function () {
            let id = $(this).attr("id");
            let href = $(this).children("a").attr("href");
            let text = '<iframe style="width: 100%;height: 100%;padding: 0;border: 0;"></iframe>';
            let page = $(".ixc-page-content");

            $(".ixc-left-menu").removeClass("active");
            $(this).addClass("active");

            page.css("display", "none");
            $(".ixc-menu-content").css("display", "none");

            if (id.indexOf("ixc-app-") !== 0) {
                window.location.href = href;
                return true;
            }
            page.html(text);
            page.css("display", "block");
            return false;

        });

        $(".ixc-conf-form").submit(function () {
            let sub_content = $(this).serialize();
            let err_ele = $("#ixc-error");
            err_ele.html("");
            $.ajax({
                type: "POST",
                url: $(this).attr("action"),
                dataType: "json",
                data: sub_content,
                success: function (result) {
                    let is_error = result.is_error;
                    let message = result.message;
                    if (is_error) {
                        err_ele.html(message)
                    } else {
                        alert("${self.LA('update ok')}");
                    }
                },
                error: function () {
                    err_ele.html("${self.LA('unkown error')}");
                }
            });

            return false;
        });

        load_page();
    });
</script>
</%block>
<%block name="footer">
## footer.html
</%block>