<div id="ixc-ipv6-view" class="ixc-menu-content" style="display: none;">
    <form style="width: 50%;margin: auto;min-width: 400px;" class="ixc-conf-form"
          enctype="application/x-www-form-urlencoded" method="post" action="${self.url_prefix}/ipv6">
        <h4>IPv6设置</h4>
        <div class="ixc-empty"></div>
        <div class="ixc-empty"></div>
        <div class="form-group">
            <label>IPv6访问方式</label>
            <select class="form-control" id="ixc-ipv6-type" name="ipv6_type">
                <option value="0">自动</option>
                <option value="1">静态地址NAT66</option>
                <option value="2">穿透模式</option>
            </select>
            <p class="ixc-prompt">NAT66实现为无状态,在非PPPoE情况下上级路由器请不要接其他终端设备</br>否则会造成NDP被此路由器抢达造成上级终端无法上网</p>
        </div>
        <div class="form-group">
            <label for="inputEmail3">IPv6下发地址段</label>
            <input type="text" class="form-control" name="static_ipv6"
                   value="${self.V['ip6_addr']}"/>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <%
                s="""<input class="form-check-input" name="enable_ipv6_security" value="1" type="checkbox" {}/>"""
                if self.V["enable_ipv6_security"]:x=s.format("checked")
                else:x=s.format("")
                self.show(x)
                %>
                开启IPv6安全
            </label>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary float-lg-right">确定</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        let enable_static_ipv6 = "${self.V['enable_static_ipv6']}";
        let enable_ipv6_pass = "${self.V['enable_ipv6_pass']}";

        if (enable_static_ipv6 === "1") {
            $("#ixc-ipv6-type").val("1");
        }

        if (enable_ipv6_pass === "1") {
            $("#ixc-ipv6-type").val("2");
        }

        if (enable_static_ipv6 !== "1" && enable_ipv6_pass !== "1") {
            $("#ixc-ipv6-type").val("0");
        }

    });
</script>