<div id="ixc-port-map-view" class="ixc-menu-content" style="display: none;">
    <div class="row">
        <div class="col-sm-10"></div>
        <div class="col-sm-2">
            <input type="button" class="btn btn-primary" value="添加" style="width: 100%;" data-toggle="modal"
                   data-target="#ixc-port-map-modal"/>
        </div>
    </div>
    <div class="modal fade" id="ixc-port-map-modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">端口映射添加</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="ixc-port-map-form">
                        <div class="form-group">
                            <label>别名</label>
                            <input type="text" class="form-control"
                                   placeholder="我的映射" name="alias-name">
                        </div>
                        <div class="form-group">
                            <label>协议</label>
                            <select class="form-control" name="protocol">
                                <option value="TCP">TCP</option>
                                <option value="UDP">UDP</option>
                                <option value="UDPLite">UDPLite</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>端口号</label>
                            <input type="text" class="form-control" name="port"/>
                        </div>
                        <div class="form-group">
                            <label>IP地址</label>
                            <input type="text" class="form-control" name="ip"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="ixc-port-map-add">添加</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">序号</th>
            <th scope="col">别名</th>
            <th scope="col">协议</th>
            <th scope="col">端口</th>
            <th scope="col">映射地址</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ixc-port-map-add").click(function () {
            let form_content = $("#ixc-port-map-form").serialize();
            $.post("${self.url_prefix}/port_map", form_content, function (result) {
                let is_error = result["is_error"];
                let message = result["message"];

                if (is_error) {
                    alert(message);
                } else {
                    window.location.refresh();
                }
            });
        })
    });
</script>