<div id="ixc-conn-view" class="ixc-menu-content" style="display: block;">
    <form style="width: 50%;margin: auto;min-width: 400px;" class="ixc-conf-form"
          enctype="application/x-www-form-urlencoded" method="post" action="${self.url_prefix}/proxy?type=conn">
        <h4>隧道连接</h4>
        <div class="ixc-empty"></div>
        <div class="ixc-empty"></div>
        <div class="form-group row">
            <div class="col-sm-2">启用隧道</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <%
                        if self.V['connection']['enable']:self.show("""<input class="form-check-input"
                                                                       name="connection.enable"
                                                                       type="checkbox" checked="checked">""")
                        else:self.show("""<input class="form-check-input" name="connection.enable" type="checkbox">""")
                    %>
                    <label class="form-check-label">
                        启用
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">隧道类型</label>
            <div class="col-sm-2">
                <select class="form-control" id="ixc-proxy-tunnel-type" name="connection.tunnel_type">
                    <option value="tcp">TCP</option>
                    <option value="udp">UDP</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">加密模块</label>
            <div class="col-sm-2">
                <select class="form-control" id="ixc-proxy-crypto-module" name="connection.crypto_module">
                    <%
                        for module_name in self.V["crypto_modules"]:
                            s="""<option value="%s">%s</option>""" % (module_name,module_name,)
                            self.show(s)
                    %>
                </select>
            </div>
            <div class="col-sm-2"><a href="#" style="display: block;margin-top: 5px;"
                                     id="ixc-proxy-crypto-module-config">模块配置</a></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">服务器地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="connection.host" value="${self.V['connection']['host']}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">服务器端口</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="connection.port" value="${self.V['connection']['port']}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">连接超时(s)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       value="${self.V['connection']['conn_timeout']}" name="connection.conn_timeout">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">用户名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" value="${self.V['connection']['username']}"
                       name="connection.username">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control"
                       value="${self.V['connection']['password']}" name="connection.password">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">IPv6隧道</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <%
                        if self.V['connection']['enable_ipv6']:self.show("""<input class="form-check-input"
                                                                               name="connection.enable_ipv6"
                                                                               type="checkbox" checked="checked">""")
                        else:self.show("""<input class="form-check-input" name="connection.enable_ipv6" type="checkbox">""")
                    %>
                    <label class="form-check-label">
                        启用
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">心跳</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <%
                        if self.V['connection']['enable_heartbeat']:self.show("""<input class="form-check-input"
                                                                                    name="connection.enable_heartbeat"
                                                                                    type="checkbox" checked="checked">""")
                        else:self.show("""<input class="form-check-input" name="connection.enable_heartbeat"
                                             type="checkbox">""")
                    %>
                    <label class="form-check-label">
                        启用
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">心跳时间</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" value="${self.V['connection']['heartbeat_timeout']}"
                       name="connection.heartbeat_timeout">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">HTTPS隧道</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <%
                        if self.V['connection']['tunnel_over_https']:self.show("""<input class="form-check-input"
                                                                                     name="connection.tunnel_over_https"
                                                                                     type="checkbox" checked="checked">""")
                        else:self.show("""<input class="form-check-input" name="connection.tunnel_over_https"
                                             type="checkbox">""")
                    %>
                    <label class="form-check-label">
                        启用
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">UDP隧道可靠性</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <%
                        if self.V['connection']['udp_tunnel_redundancy']:self.show("""<input class="form-check-input"
                                                                                     name="connection.udp_tunnel_redundancy"
                                                                                     type="checkbox" checked="checked">""")
                        else:self.show("""<input class="form-check-input" name="connection.udp_tunnel_redundancy"
                                             type="checkbox">""")
                    %>
                    <label class="form-check-label">
                        启用
                    </label>
                </div>
            </div>
        </div>
        <hr/>
        <h4>HTTPS隧道</h4>
        <div class="ixc-empty"></div>
        <div class="ixc-empty"></div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">URL</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       value="${self.V['tunnel_over_https']['url']}" name="tunnel_over_https.url">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">验证ID</label>
            <div class="col-sm-10">
                <input type="password" class="form-control"
                       value="${self.V['tunnel_over_https']['auth_id']}" name="tunnel_over_https.auth_id">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">SNI主机</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" value="${self.V['tunnel_over_https']['https_sni_host']}"
                       name="tunnel_over_https.https_sni_host">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">开启SNI</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <%
                        if self.V['tunnel_over_https']['enable_https_sni']:self.show("""<input class="form-check-input"
                                                                                           name="tunnel_over_https.enable_https_sni"
                                                                                           type="checkbox"
                                                                                           checked="checked">""")
                        else:self.show("""<input class="form-check-input" name="tunnel_over_https.enable_https_sni"
                                             type="checkbox">""")
                    %>
                    <label class="form-check-label">
                        启用
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">严格模式</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <%
                        if self.V['tunnel_over_https']['strict_https']:self.show("""<input class="form-check-input"
                                                                                       name="tunnel_over_https.strict_https"
                                                                                       type="checkbox"
                                                                                       checked="checked">""")
                        else:self.show("""<input class="form-check-input" name="tunnel_over_https.strict_https"
                                             type="checkbox">""")
                    %>
                    <label class="form-check-label">
                        启用
                    </label>
                    <span class="ixc-prompt">(需要设置SNI主机用以进行正确证书匹配)</span>
                </div>
            </div>
        </div>
        <hr/>

        <!-----源端代理--->
        <h4>源端代理(可以使指定的局域网IP地址进行指定协议的全局代理)</h4>
        <div class="ixc-empty"></div>
        <div class="ixc-empty"></div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">IP地址范围</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="src_filter.ip_range"
                       value="${self.V['src_filter']['ip_range']}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">IPv6地址范围</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="src_filter.ip6_range"
                       value="${self.V['src_filter']['ip6_range']}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">协议选择</label>
            <div class="col-sm-2">
                <select class="form-control" name="src_filter.protocol" id="ixc-proxy-src-filter-protocol">
                    <option value="TCP">TCP</option>
                    <option value="UDP">UDP</option>
                    <option value="UDPLite">UDPLite</option>
                    <option value="ALL">ALL</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">源端代理开关</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <%
                        if self.V['src_filter']['enable']:self.show("""<input class="form-check-input"
                                                                            name="src_filter.enable"
                                                                            type="checkbox" checked="checked">""")
                        else:self.show("""<input class="form-check-input" name="src_filter.enable"
                                     type="checkbox">""")
                    %>
                    <label class="form-check-label">
                        启用
                    </label>
                </div>
            </div>
        </div>

        <!----->
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary float-lg-right">确定</button>
            </div>
        </div>
    </form>
    <div class="modal fade" id="ixc-proxy-crypto-module-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title"><span id="ixc-proxy-crypto-module-name"></span></spam>模块配置</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <p id="ixc-proxy-crypto-module-modal-error"></p>
                    <textarea id="ixc-proxy-crypto-module-conf-content"
                              style="width: 100%;height: 400px;letter-spacing: 3px;"></textarea>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="ixc-proxy-crypto-module-conf-submit">修改</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        let tunnel_type = "${self.V['connection']['tunnel_type']}";
        let crypto_module = "${self.V['connection']['crypto_module']}";
        let src_filter_protocol="${self.V['src_filter']['protocol']}";

        $("#ixc-proxy-tunnel-type").val(tunnel_type);
        $("#ixc-proxy-crypto-module").val(crypto_module);
        $("#ixc-proxy-src-filter-protocol").val(src_filter_protocol);

        $("#ixc-proxy-crypto-module-config").click(function () {
            let module_name = $("#ixc-proxy-crypto-module").val();
            let modal = $("#ixc-proxy-crypto-module-modal");
            $("#ixc-proxy-crypto-module-name").html(module_name);

            $.get("${self.url_prefix}/proxy_module_config", {"module": module_name}, function (result) {
                let is_error = result["is_error"];
                if (is_error) {
                    alert(result["message"]);
                    return;
                }
                $("#ixc-proxy-crypto-module-conf-content").val(JSON.stringify(result["message"]));
                modal.modal();
            });
        });

        $("#ixc-proxy-crypto-module-conf-submit").click(function () {
            let content = $("#ixc-proxy-crypto-module-conf-content").val();
            let module_name = $("#ixc-proxy-crypto-module").val();

            $.post("${self.url_prefix}/proxy_module_config", {
                "module": module_name,
                "conf": content
            }, function (result) {
                let is_error = result["is_error"];
                if (is_error) {
                    alert(result["message"]);
                } else {
                    alert("修改成功");
                }
            });
        });

    });
</script>