<div id="ixc-qos-view" class="ixc-menu-content" style="display: none;">
    <form style="width: 50%;margin: auto;min-width: 400px;" class="ixc-conf-form"
          enctype="application/x-www-form-urlencoded" method="post" action="${self.url_prefix}/qos">
        <h4>QOS</h4>
        <div class="ixc-empty"></div>
        <div class="ixc-empty"></div>
        <div class="form-group">
            <label>小包优先设置</label>
            <select class="form-control" id="ixc-qos" name="qos">
                <option value="mpkt_nodef">关闭</option>
                <option value="mpkt_size64">64字节及以下</option>
                <option value="mpkt_size128">128字节及以下</option>
                <option value="mpkt_size256">256字节及以下</option>
                <option value="mpkt_size512">512字节及以下</option>
            </select>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary float-lg-right">确定</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>