<div id="ixc-system-expand-view" class="ixc-menu-content" style="display: none;">
    <h6>系统启动完毕后执行的额外脚本内容</h6>
    <form class="ixc-conf-form"
          enctype="application/x-www-form-urlencoded" method="post" action="${self.url_prefix}/system-expand">
        <div class="form-group">
            <textarea class="form-control" name="script-content" cols="182" rows="60"
                      style="letter-spacing: 1px;font-family: 'Courier New'">
                    ${self.V['script_content']}
            </textarea>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary float-lg-right">提交</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>