<div id="ixc-system-network-view" class="ixc-menu-content">
    <nav class="nav nav-pills flex-column flex-sm-row" style="background-color: rgba(8,64,92,0.07);">
        <a class="flex-sm-fill text-sm-center nav-link ixc-network-iftype"
           id="ixc-system-network-wan" name="wan"
           href="${self.url_prefix}/?show=ixc-system-network.ixc-system-network-wan&page=system-network&type=wan">WAN网口</a>
        <a class="flex-sm-fill text-sm-center nav-link ixc-network-iftype" name="dhcp"
           href="${self.url_prefix}/?show=ixc-system-network.ixc-system-network-lan&page=system-network&type=lan"
           id="ixc-system-network-lan">LAN网口</a>
    </nav>
    <div class="ixc-empty"></div>
    <div class="ixc-empty"></div>
    <div class="ixc-empty"></div>
    <form style="width: 50%;margin: auto;min-width: 400px;display: none;" class="ixc-system-network ixc-conf-form"
          id="ixc-system-network-wan-view" action="${self.url_prefix}/system-network?type=wan" method="post"
          enctype="application/x-www-form-urlencoded">
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">网卡</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" value="${self.V['if_name']}"
                       disabled="disabled"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">硬件地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="hwaddr" value="${self.V['hwaddr']}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">IP MTU</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="ip4_mtu" value="${self.V['ip4_mtu']}" placeholder="1500" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">故障切换</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <%
                        s="""<input class="form-check-input" name="enable_auto" value="1" type="checkbox" {}/>"""
                        if self.V["network_shift_enable"]:x=s.format("checked")
                        else:x=s.format("")
                        self.show(x)
                    %>
                    <label class="form-check-label" for="gridCheck1">
                        开启
                    </label>
                </div>
                <p class="ixc-prompt">注意备用网络只能以DHCP方式上网,并且需要手工切回主网卡</p>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">检查主机HTTPS地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="check_host" value="${self.V['network_check_host']}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">选择网卡</label>
            <div class="col-sm-10">
                <select class="form-control" name="shift_ifname" id="ixc-shift-ifname">
                    <%
                        for x in self.V["net_devices"]:
                            s="""<option value="%s">%s</option>""" % (x,x)
                            self.show(s)
                    %>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary float-lg-right">确定</button>
            </div>
        </div>
    </form>
    <form style="width: 50%;margin: auto;min-width: 400px;display: none;" class="ixc-system-network ixc-conf-form"
          id="ixc-system-network-lan-view" action="${self.url_prefix}/system-network?type=lan" method="post"
          enctype="application/x-www-form-urlencoded">
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">网卡</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" value="${self.V['if_name']}"
                       disabled="disabled"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">硬件地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="hwaddr" value="${self.V['hwaddr']}"
                       placeholder="硬件地址">
            </div>
        </div>
        <p class="ixc-prompt">修改地址如果新地址不在同一网段还需要修改DHCP服务器地址分配范围</p>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">管理地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="manage_addr" value="${self.V['manage_addr']}"
                       placeholder="管理地址">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">路由器地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="ip_addr" value="${self.V['ip_addr']}"
                       placeholder="路由器地址">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">子网掩码</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="mask" value="${self.V['mask']}"
                       placeholder="子网掩码">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary float-lg-right">确定</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        let selected_ifname = "${self.V['network_shift_ifname']}";
        $("#ixc-shift-ifname").val(selected_ifname);
    });
</script>