<div id="ixc-system-process-view" class="ixc-menu-content" style="display: none;">
    <h4>内存使用总量:&nbsp;${self.V['tot_used_mem']}MB</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">序号</th>
            <th scope="col">进程ID</th>
            <th scope="col">进程名</th>
            <th scope="col">内存占用(MB)</th>
            <th scope="col">命令</th>
        </tr>
        </thead>
        <tbody>
            <%
            x=1
            for o in self.V["processes"]:
                s="""<tr><td>%d</td><td>%s</td><td>%s</td><td>%s</td><td>%s</td></tr>""" % (x,o["PID"],o["NAME"],o["MEM_MB"],o["COMMAND"])
                x+=1
                self.show(s)
            %>
        </tbody>
    </table>
    <h4>CPU使用情况</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">CPU核心</th>
            <th scope="col">使用率</th>
            <th scope="col">温度</th>
        </tr>
        </thead>
        <tbody>
        <%
        for cpu_idx,usage,temp in self.V["cpu_info"]:
            s="""<tr><td>%s</td><td>%s&nbsp;%%</td><td>%s°C</td></tr>""" % (cpu_idx.upper(),usage,temp)
            self.show(s)
        %>
        </tbody>
    </table>
</div>