<div id="ixc-system-network-view" class="ixc-menu-content">
    <nav class="nav nav-pills flex-column flex-sm-row" style="background-color: rgba(8,64,92,0.07);">
        <a class="flex-sm-fill text-sm-center nav-link ixc-network-iftype"
           id="ixc-system-network-wan" name="wan"
           href="${self.url_prefix}/?show=ixc-system-network.ixc-system-network-wan&page=system-network&type=wan">WAN网口</a>
        <a class="flex-sm-fill text-sm-center nav-link ixc-network-iftype" name="dhcp"
           href="${self.url_prefix}/?show=ixc-system-network.ixc-system-network-lan&page=system-network&type=lan"
           id="ixc-system-network-lan">LAN网口</a>
    </nav>
    <div class="ixc-empty"></div>
    <div class="ixc-empty"></div>
    <div class="ixc-empty"></div>

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>