<div id="ixc-tftp-server-view" class="ixc-menu-content" style="display: none;">
    <%
        if not self.proc_ready_ok("tftp"):self.show(self.LA("process not running"))
    %>
    <form style="width: 50%;margin: auto;min-width: 400px;" class="ixc-conf-form"
          enctype="application/x-www-form-urlencoded" method="post" action="${self.url_prefix}/tftp">
        <div class="form-group row">
            <div class="col-sm-2">启用IPv6</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <%
                        if self.V['enable_ipv6']:self.show("""<input class="form-check-input" name="enable_ipv6" type="checkbox" checked="checked">""")
                        else:self.show("""<input class="form-check-input" name="enable_ipv6" type="checkbox">""")
                    %>
                    <label class="form-check-label" for="gridCheck1">
                        开启
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">文件目录</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="file_dir" placeholder="文件目录"
                       value="${self.V['file_dir']}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary float-lg-right">确定</button>
            </div>
        </div>
    </form>
</div>