<div id="ixc-traffic-log-view" class="ixc-menu-content" style="display: none;">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">序号</th>
            <th scope="col">网卡地址</th>
            <th scope="col">IP地址</th>
            <th scope="col">IPv6地址</th>
            <th scope="col">主机名</th>
            <th scope="col">发送流量</th>
            <th scope="col">接收流量</th>
            <th scope="col">发送速度</th>
            <th scope="col">接收速度</th>
            <th scope="col">设备厂商</th>
        </tr>
        </thead>
        <tbody>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td><strong>${self.V["sent_total"]}</strong></td>
            <td><strong>${self.V["received_total"]}</strong></td>
            <td><strong>${self.V['tx_speed']}/S</strong></td>
            <td><strong>${self.V['rx_speed']}</strong></td>
            <td>-</td>
            <%
            x=1
            for hwaddr,o in self.V["logs"].items():
                s="<tr>"
                s+="<td><strong>%s</strong></td>" % x
                s+="<td>%s</td>" % hwaddr
                s+="<td>%s</td>" % o['ip4_addr']
                s+="<td>%s</td>" % o['ip6_addr']
                s+="<td>%s</td>" % o['host_name']
                s+="<td>%s</td>" % o['tx_traffic']
                s+="<td>%s</td>" % o['rx_traffic']
                s+="<td>%s/S</td>" % o['tx_speed']
                s+="<td>%s/S</td>" % o['rx_speed']
                s+="<td>%s</td>" % o['vendor']
                s+="</tr>"
                x+=1
                self.show(s)
            %>
        </tbody>
    </table>
</div>