<form style="width: 50%;margin: auto;min-width: 400px;display: none;"
      class="ixc-internet-type ixc-conf-form"
      action="${self.url_prefix}/wan?type=dhcp" method="post" enctype="application/x-www-form-urlencoded"
      id="ixc-dhcp-dial-view">
    <input value="pppoe" type="hidden" name="dial_method" value="dhcp"/>
    <div class="form-group row">
        <div class="col-sm-2">积极心跳</div>
        <div class="col-sm-10">
            <div class="form-check">
                <%
                    s="""<input class="form-check-input" type="checkbox" value="1" name="positive_heartbeat" {} />"""
                    if self.V["positive_heartbeat"]:x=s.format("checked")
                    else:x=s.format("{}")
                    self.show(x)
                %>
                <label class="form-check-label">
                    &nbsp;&nbsp;开启
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary float-lg-right">确定</button>
            <button type="button" class="btn btn-info float-lg-right" id="ixc-dhcp-client-reset">重置</button>
        </div>
    </div>
</form>
        <script type="text/javascript">
            $("#ixc-dhcp-client-reset").click(function (){
                $.post("${self.url_prefix}/wan?type=dhcp-client-reset", {
                }, function (result) {
                    let is_error = result["is_error"];
                    if (is_error) {
                        alert(result["message"]);
                    } else {
                        alert("重置成功");
                    }
                });
            });
        </script>