<form style="width: 50%;margin: auto;min-width: 400px;display: none;" class="ixc-internet-type ixc-conf-form"
      action="${self.url_prefix}/wan?type=pppoe" method="post" enctype="application/x-www-form-urlencoded"
      id="ixc-pppoe-dial-view">
    <input value="pppoe" type="hidden" name="dial_method" value="pppoe"/>
    <div class="form-group row">
        <label for="pppoe-user" class="col-sm-2 col-form-label">用户名</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="username" value="${self.V['user']}"
                   placeholder="PPPoE用户名">
        </div>
    </div>
    <div class="form-group row">
        <label for="passwd" class="col-sm-2 col-form-label">密码</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="passwd" value="${self.V['passwd']}"
                   placeholder="PPPoE密码">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">心跳探测</div>
        <div class="col-sm-10">
            <div class="form-check">
                <%
                    s="""<input class="form-check-input" type="checkbox" value="1" name="heartbeat" {} />"""
                    if self.V['heartbeat']:x=s.format("checked")
                    else:x=s.format("")
                    self.show(x)
                %>
                <label class="form-check-label">
                    &nbsp;&nbsp;开启
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-secondary float-lg-right">重拨</button>
            <button type="submit" class="btn btn-primary float-lg-right">确定</button>
        </div>
    </div>
</form>