<div id="ixc-wan-internet-view" class="ixc-menu-content">
    <nav class="nav nav-pills flex-column flex-sm-row" style="background-color: rgba(8,64,92,0.07);">
        <!--PPPoE逐渐被淘汰,取消支持
        <a class="flex-sm-fill text-sm-center nav-link ixc-internet-dial-type"
           id="ixc-pppoe-dial" name="pppoe"
           href="${self.url_prefix}/?show=ixc-wan-internet.ixc-pppoe-dial&page=wan&type=pppoe">PPPoE拨号</a>-->
        <a class="flex-sm-fill text-sm-center nav-link ixc-internet-dial-type" name="dhcp"
           href="${self.url_prefix}/?show=ixc-wan-internet.ixc-dhcp-dial&page=wan&type=dhcp"
           id="ixc-dhcp-dial">动态IP地址</a>
        <a class="flex-sm-fill text-sm-center nav-link ixc-internet-dial-type" id="ixc-static-ip-dial"
           href="${self.url_prefix}/?show=ixc-wan-internet.ixc-static-ip-dial&page=wan&type=static-ip" name="static-ip">静态IP地址</a>
    </nav>
    <div class="ixc-empty"></div>
    <div class="ixc-empty"></div>
    <div class="ixc-empty"></div>
    <%
        if self.qs('type')=="pppoe":self.show(self.include("wan-pppoe.html"))
        elif self.qs('type')=="dhcp":self.show(self.include("wan-dhcp.html"))
        elif self.qs('type')=="static-ip":self.show(self.include("wan-static-ip.html"))
        else:self.show("not found page")
    %>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".ixc-internet-dial-type").click(function () {
                let attr_name = $(this).attr("name");
                $(".ixc-internet-dial-type").removeClass("active");
                $(this).addClass("active");

                $(".ixc-internet-type").css("display", "none");
                $("#ixc-" + attr_name + "-dial-view").css("display", "block");
            });
        });
    </script>
</div>